body {
    background-color: #C5C6C7;
    background-image: url("../img/background.jpg");
    background-size: 500px;

    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.page {
    width: 1000px;
    margin: 0 auto;

    background-color: rgb(240, 240, 240);
}

.container {
    display: flex;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.intro-img {
    border-radius: 15px;
    box-shadow: 0 3px 5px #000;
}

/*================== Header ===================*/


.header {
    text-align: center;
    padding: 4px 0;

    background-color: #0B0C10;

}

.header h1 {
    color: #C5C6C7;
}

.header h2 {
    color: #66c1fc;
}

/*================== Nav ===================*/

.nav {
    display: block;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.nav-link {
    padding: 8px 4px;

    color: #0B0C10;
    text-decoration: none;
    transition: background-color 0.4s linear;
}

.nav-link:hover {
    background-color: #66c1fc;
    text-decoration: underline;
}

/*================== Content ===================*/

.content {
    padding: 0 16px;
    width: 800px;
}

.content p {
    margin: 0 0 16px;
}

.content-title {
    color: #d30000;

    margin: 14px 0 10px;
}

.content-link {
    color: #3e8abd;

    text-decoration: none;
}

.content-link:hover {
    text-decoration: underline;
}

/*================== Sidebar ===================*/

.sidebar {
    width: 200px;
    padding: 10px;

    background-color: rgb(231, 231, 231);
}

.sidebar-title {
    margin-bottom: 20px;
    font-size: 20px;
    color: #e02525;
}

.sidebar img {
    background: linear-gradient(to top, #fff, rgb(228, 228, 228));
}

/*================== Article ===================*/

.article {
    margin: 16px 0 16px;
    padding-bottom: 16px;

    border-bottom: 1px solid #000;
}

.article-title {
    margin: 0 0 10 px;

    font-size: 18px;
    color: #0774bd;
}

.article-date {
    display: block;

    font-size: 12px;

    margin-bottom: 16px;

}

.article-title a {
    color: inherit;
    text-decoration: none;
}

.article-title a:hover {
    text-decoration: underline;
}

/*================== Footer ===================*/

.footer {
    height: 60px;

    background-color: #0B0C10;
}

.footer-title {
    color: #C5C6C7;

    padding: 20px;
    text-align: center;
}